<template>
  <f7-app>
    <f7-view main>
      <router-view />
    </f7-view>
  </f7-app>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.text-light {
  color: #f0f0f0;
}
</style>
