<template>
  <f7-page>
    <f7-navbar style="background-color: white;">
      <f7-nav-left>
        <font-awesome-icon
          :icon="['fas', 'chevron-left']"
          style="color:#707070;"
          class="padding-left"
          @click="$router.go(-1)"
        ></font-awesome-icon>
      </f7-nav-left>
      &nbsp;
      <h4
        style="color:#606060; font-weight:bold; text-transform:uppercase;"
        class="padding-left"
      >
        {{ block.name }}
      </h4>
    </f7-navbar>
    <f7-photo-browser
      :photos="photos"
      theme="dark"
      type="popup"
      ref="popupDark"
      v-if="photos.length"
    ></f7-photo-browser>
    <f7-block style="margin-bottom:0px;">
      <f7-row>
        <f7-col style="padding-left:10px; padding-right:10px;">
          <f7-button raised @click="$refs.popupDark.open()" fill
            >VIEW PHOTOS</f7-button
          >
        </f7-col>
        <f7-col
          style="padding-left:10px; padding-right:10px; padding-top:5px;"
          class="margin-bottom"
        >
          <div v-if="!isOwner" style="font-size:18px; color:#bb071f;">
            CAN'T UPLOAD
          </div>
          <label
            for="fileUpload"
            class="text-align-center"
            style="color:#2196f3; font-weight:bold; font-size:18px;"
            v-if="isOwner"
            v-show="!pictures.length"
            >UPLOAD &lpar;MAX.5&rpar;</label
          >
          <input
            v-show="false"
            type="file"
            accept="image/*"
            id="fileUpload"
            multiple
            @change="getPictures"
            v-if="isOwner"
          />
        </f7-col>
      </f7-row>
    </f7-block>
    <f7-card v-if="isOwner">
      <f7-swiper v-if="pictures.length">
        <f7-swiper-slide v-for="(picture, idx) in pictures" :key="idx">
          <img
            :src="picture.uri"
            class="site-photo"
            v-show="picture.uri.length"
          />
          <f7-preloader
            color="blue"
            size="300"
            v-show="!picture.uri.length"
            style="margin-left:40px;"
          ></f7-preloader>
          <div class="margin-bottom padding-left-half">
            <label>CAPTION</label>
            <input
              type="text"
              placeholder="Your Caption"
              v-model="picture.caption"
              class="margin-bottom"
            />
            <label>DATE PICKER</label>
            <input type="date" v-model="picture.cdate" />
          </div>
        </f7-swiper-slide>
      </f7-swiper>
    </f7-card>
    <f7-button
      fill
      @click="saveImages($route.params.blockId)"
      class="text-align-center"
      v-if="isOwner"
      :disabled="!pictures.length"
    >
      <font-awesome-icon :icon="['fas', 'upload']"></font-awesome-icon>
      SAVE IMAGES
    </f7-button>
    <f7-popup :opened="isOpened">
      <f7-block>
        <f7-block-title>Saving Images...</f7-block-title>
        <f7-progressbar infinite></f7-progressbar>
        Please Wait,We are optimizing and uploading the images to the store.
        Estimated time is unknown but will depend on number of images.
      </f7-block>
    </f7-popup>
  </f7-page>
</template>
<style scoped>
.upload-btn {
  color: white;
  text-align: center;
  border-radius: 10px;
}
.site-photo {
  width: 100vw;
  object-fit: cover;
  height: 350px;
  border-radius: 10px;
}
</style>
<script lang="ts">
import Component from "vue-class-component";
import axios, { Axios } from "typed-axios";
import AuthMiddleware from "@/middleware/AuthMiddleware";
import { PhotoDTO, PDTO } from "@/dtos/PhotoDTO";
import BlockDTO from "@/dtos/BlockDTO";
import { mixins } from "vue-class-component";
import RBlockMixin from "@/mixins/RBlockMixin";
@Component
export default class BlockView extends mixins(RBlockMixin) {
  axios: Axios;
  photos: Array<PhotoDTO> = [];
  isOwner = false;
  block: BlockDTO;
  isOpened = false;
  constructor() {
    super();
    this.axios = axios.create({
      baseURL: process.env.VUE_APP_BACKEND + "/api/block",
      headers: {
        Authorization: `Bearer ${AuthMiddleware.token()}`
      }
    });
    this.block = {
      id: 0,
      name: ""
    };
  }
  created() {
    const blockId = parseInt(this.$route.params.blockId);
    this.index(blockId);
    this.getPhotos(blockId);
    this.owner(blockId);
  }
  index(blockId: number) {
    this.axios
      .get(`/${blockId}`)
      .then(response => {
        this.block = response.data;
      })
      .catch(err => {
        if (err.response.status == 401) {
          AuthMiddleware.logout();
          this.$router.push({ name: "Login" });
        }
      });
  }
  getPhotos(blockId: number) {
    this.axios.get(`/${blockId}/photos`).then(response => {
      const fr = Object.values(response.data) as PDTO[];
      this.photos = fr.map((el: PDTO) => {
        return new PhotoDTO(el);
      });
    });
  }
  saveImages(blockId: string) {
    const sblockId = parseInt(blockId);
    const burl = `/${sblockId}/photos`;
    this.savePhotos(burl);
  }
  owner(sblockId: number) {
    this.axios.get(`/${sblockId}/owner`).then(response => {
      this.isOwner = response.data;
    });
  }
}
</script>
