<template>
  <f7-page no-toolbar no-navbar no-swipeback login-screen>
    <f7-login-screen-title>Login</f7-login-screen-title>
    <f7-list form>
      <f7-list-input
        label="Phone No."
        type="tel"
        pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}"
        minlength="10"
        placeholder="Your registered phone Number"
        :value="phoneNo"
        @input="phoneNo = $event.target.value"
      ></f7-list-input>
      <f7-list-input
        label="Password"
        type="password"
        minlength="8"
        placeholder="Your Password..."
        :value="password"
        @input="password = $event.target.value"
      ></f7-list-input>
    </f7-list>
    <f7-list>
      <f7-list-button @click="signIn" fill raised>Sign In</f7-list-button>
      <f7-block-footer>Contact Admin For Help.</f7-block-footer>
    </f7-list>
  </f7-page>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "typed-axios";
import AuthMiddleware from "@/middleware/AuthMiddleware";
@Component
export default class Login extends Vue {
  phoneNo: string;
  password: string;
  constructor() {
    super();
    this.phoneNo = "";
    this.password = "012345678";
  }
  signIn() {
    if (this.phoneNo.length > 9 && this.password.length > 8) {
      axios({
        url: process.env.VUE_APP_BACKEND + "/api/auth/login",
        method: "post",
        data: { phoneNo: this.phoneNo, password: this.password }
      }).then(response => {
        AuthMiddleware.login(
          response.data["token"],
          response.data["expires_at"]
        ).then(() => {
          this.$router.push({ name: "Sites" });
        });
      });
    }
  }
}
</script>
