<template>
  <f7-page>
    <f7-navbar style="background-color: white">
      <f7-nav-left>
        <font-awesome-icon
          :icon="['fas', 'chevron-left']"
          style="color: #707070"
          class="padding-left"
          @click="$router.go(-1)"
        ></font-awesome-icon>
      </f7-nav-left>
      &nbsp;
      <h4
        style="
          color: #606060;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
        "
        class="padding-left"
      >
        New Site Block
      </h4>
    </f7-navbar>
    <f7-block class="no-margin-bottom no-margin-top no-padding">
      <f7-card title="Block Name">
        <f7-input
          type="select"
          @change="sblock.blockId = $event.target.value"
          :value="sblock.blockId"
          class="padding-left"
          style="font-size: 1.15em"
        >
          <option :value="0">Not Selected</option>
          <option :value="block.id" v-for="block in blocks" :key="block.id">
            {{ block.name }}
          </option>
        </f7-input>
      </f7-card>
    </f7-block>
    <f7-block class="no-margin-top no-margin-bottom no-padding">
      <f7-block-title>
        <label
          for="fileUpload"
          style="color: #2196f3; font-weight: bold; font-size: 18px"
          >UPLOAD &lpar;MAX.5&rpar;</label
        >
        <input
          v-show="false"
          type="file"
          accept="image/*"
          id="fileUpload"
          multiple
          @change="getPictures"
          :disabled="!isOwner"
        />
      </f7-block-title>
      <f7-card>
        <f7-swiper v-if="pictures.length">
          <f7-swiper-slide v-for="(picture, idx) in pictures" :key="idx">
            <img
              :src="picture.uri"
              class="site-photo"
              v-show="picture.uri.length"
            />
            <f7-preloader
              color="blue"
              size="300"
              v-show="!picture.uri.length"
              style="margin-left: 40px"
            ></f7-preloader>
            <div class="margin-bottom">
              <label>&nbsp; CAPTION</label>
              <input
                type="text"
                placeholder="Your Caption"
                v-model="picture.caption"
                class="margin-bottom padding-left-half"
              />
              <label>&nbsp;DATE PICKER</label>
              <input
                type="date"
                v-model="picture.cdate"
                class="padding-left-half"
              />
            </div>
          </f7-swiper-slide>
        </f7-swiper>
      </f7-card>
      <f7-button
        fill
        @click="saveImages($route.params.siteId)"
        class="text-align-center"
        v-if="isOwner"
        :disabled="!pictures.length || !sblock.blockId"
      >
        <font-awesome-icon :icon="['fas', 'upload']"></font-awesome-icon>
        SAVE BLOCK
      </f7-button>
    </f7-block>
    <f7-popup :opened="isOpened">
      <f7-block>
        <f7-block-title>Creating New Site Block ..</f7-block-title>
        <f7-progressbar infinite></f7-progressbar>
        Please Wait,Saving Images to site block.
      </f7-block>
    </f7-popup>
  </f7-page>
</template>
<style scoped>
.site-photo {
  width: 100vw;
  object-fit: cover;
  height: 350px;
  border-radius: 10px;
}
</style>
<script lang="ts">
import AuthMiddleware from "@/middleware/AuthMiddleware";
import axios, { Axios } from "typed-axios";
import Component from "vue-class-component";
import { mixins } from "vue-class-component";
import SBlockMixin from "@/mixins/SBlockMixin";
import RBlockMixin from "@/mixins/RBlockMixin";
import BlockDTO from "@/dtos/BlockDTO";
@Component
export default class RegisterBlock extends mixins(SBlockMixin, RBlockMixin) {
  blocks: Array<BlockDTO> = [];
  sblock: { blockId: number } = { blockId: 0 };
  axios: Axios;
  constructor() {
    super();
    this.axios = axios.create({
      baseURL: process.env.VUE_APP_BACKEND + "/api/siteblock",
      headers: {
        Authorization: `Bearer ${AuthMiddleware.token()}`
      }
    });
  }
  created() {
    const siteId = parseInt(this.$route.params.siteId);
    const burl = process.env.VUE_APP_BACKEND + "/api/siteblock";
    this.owner(burl, siteId);
    this.sblocks(siteId);
  }
  sblocks(siteId: number) {
    this.axios.get(`/${siteId}/sblocks`).then(response => {
      const blks = Object.values(response.data);
      this.blocks = blks as BlockDTO[];
    });
  }
  saveImages(siteId: number) {
    const burl = `/${siteId}/photos`;
    this.savePhotos(burl, this.sblock);
  }
}
</script>
