<template>
  <f7-page>
    <f7-navbar style="background-color:white; color:#606060;">
      <f7-nav-right>
        <font-awesome-icon
          :icon="['fas', 'power-off']"
          style="color:#bb071f;"
          @click="logout"
        ></font-awesome-icon>
      </f7-nav-right>
      <f7-nav-title
        style="margin-left:40vw; text-transform:uppercase; font-weight:bold;"
        >All Sites</f7-nav-title
      >
    </f7-navbar>
    <f7-card
      :style="{ backgroundImage: `url(${site.lastPhoto})` }"
      v-for="site in sites"
      :key="site.id"
      class="hsite"
    >
      <div
        style="height:auto; position:relative; top:58px; padding-left:10px; padding-right:10px;"
        class="text-light"
      >
        <h3 style="margin-bottom:2px; padding-bottom:2px;">
          <strong>{{ site.name }}</strong>
        </h3>
        <font-awesome-icon
          :icon="['fas', 'clock']"
          class="text-light"
        ></font-awesome-icon>
        <span> Last Updated:{{ site.elapsedTime }}</span>
        <f7-link
          style="font-weight:500; float:right;"
          @click="$router.push({ name: 'Site', params: { siteId: site.id } })"
        >
          &nbsp;
          <font-awesome-icon :icon="['fas', 'eye']"></font-awesome-icon>&nbsp;
          VIEW MORE</f7-link
        >
      </div>
    </f7-card>
  </f7-page>
</template>
<style scoped>
.hsite {
  height: 120px;
  background-position: 50% 50%;
  background-size: 100%;
}
</style>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import axios, { Axios } from "typed-axios";
import { SiteDTO, SDTO } from "@/dtos/SiteDTO";
import AuthMiddleware from "@/middleware/AuthMiddleware";
@Component
export default class Sites extends Vue {
  sites: Array<SiteDTO>;
  axios: Axios;
  constructor() {
    super();
    this.sites = [];
    this.axios = axios.create({
      baseURL: process.env.VUE_APP_BACKEND + "/api/sites",
      headers: {
        Authorization: `Bearer ${AuthMiddleware.token()}`
      }
    });
  }
  created() {
    this.index();
  }
  index() {
    this.axios
      .get("/")
      .then(res => {
        this.sites = res.data.map((el: SDTO) => {
          return new SiteDTO(el);
        });
      })
      .catch(err => {
        if (err.response.status == 401) {
          this.$router.push({ name: "Login" });
        }
      });
  }
  logout() {
    this.axios.get("/logout").then(() => {
      AuthMiddleware.logout();
      this.$router.push({ name: "Login" });
    });
  }
}
</script>
