<template>
  <f7-page>
    <div style="background-color:#e2e2e2; margin-top:-20px; padding-top:10px;">
      <f7-card
        :style="{ backgroundImage: `url(${site.lastPhoto})` }"
        class="site-header"
      >
        <div
          class="text-light"
          style="position:relative; top:80px; padding-left:10px; padding-right:10px;"
        >
          <span style="float:left; font-size:1.5em">
            <font-awesome-icon
              :icon="['fas', 'chevron-left']"
              @click="$router.go(-1)"
            ></font-awesome-icon>
          </span>
          <span style="float:right; font-size:1.5em;" v-if="isOwner">
            <font-awesome-icon
              :icon="['fas', 'plus-circle']"
              @click="
                $router.push({
                  name: 'SiteBlock',
                  params: { siteId: $route.params.siteId }
                })
              "
            ></font-awesome-icon>
          </span>
          <h2 class="text-align-center">{{ site.name }}</h2>
          <h4 class="text-align-center">Started :{{ site.elapsedTime }}</h4>
        </div>
      </f7-card>
      <div style="max-height:70.5vh; overflow-y:scroll;">
        <f7-card v-for="siteblock in siteblocks" :key="siteblock.id">
          <f7-block-title style="margin-bottom:0px; margin-top:0px;">
            <span
              style="text-transform:uppercase; font-size:1.25em; line-height:2.2em; font-weight:bold;"
            >
              {{ siteblock.name }} - &lpar; {{ siteblock.pcount }} &rpar;
            </span>
            <font-awesome-icon
              style="float:right; margin-top:8px;"
              :icon="['fas', 'chevron-right']"
              @click="viewBlock(siteblock)"
            >
            </font-awesome-icon>
          </f7-block-title>
          <f7-block class="padding-bottom">
            <f7-row>
              <f7-col>
                <img
                  :src="siteblock.photo"
                  class="site-photo lazy"
                  @click="viewBlock(siteblock)"
                />
              </f7-col>
              <f7-col>
                <f7-row
                  v-for="(thumblayer, idx) in siteblock.thumbnails"
                  :key="idx"
                >
                  <f7-col v-for="(thumbnail, idk) in thumblayer" :key="idk">
                    <img
                      :src="thumbnail"
                      class="site-thumbnail lazy"
                      @click="viewBlock(siteblock)"
                    />
                  </f7-col>
                </f7-row>
              </f7-col>
            </f7-row>
          </f7-block>
        </f7-card>
      </div>
    </div>
  </f7-page>
</template>
<style scoped>
.site-header {
  background-size: 100%;
  background-position: 50% 50%;
  height: 200px;
}
.site-photo {
  height: 21.5vh;
  width: 43.2vw;
  object-fit: cover;
  border-radius: 5px;
}
.site-thumbnail {
  height: 10.4vh;
  width: 19.4vw;
  object-fit: cover;
  border-radius: 5px;
}
</style>
<script lang="ts">
import Component from "vue-class-component";
import { SiteBlockDTO, SBDTO } from "@/dtos/SiteBlockDTO";
import axios, { Axios } from "typed-axios";
import AuthMiddleware from "@/middleware/AuthMiddleware";
import { SiteDTO } from "@/dtos/SiteDTO";
import { mixins } from "vue-class-component";
import SBlockMixin from "@/mixins/SBlockMixin";
@Component
export default class SiteView extends mixins(SBlockMixin) {
  siteblocks: Array<SiteBlockDTO> = [];
  axios: Axios;
  site: SiteDTO;
  constructor() {
    super();
    this.axios = axios.create({
      baseURL: process.env.VUE_APP_BACKEND + "/api/site",
      headers: {
        Authorization: `Bearer ${AuthMiddleware.token()}`
      }
    });
    this.site = {
      id: 0,
      name: "",
      lastPhoto: process.env.VUE_APP_BACKEND,
      elapsedTime: "Unknown"
    };
  }
  created() {
    const siteId = parseInt(this.$route.params.siteId);
    this.index(siteId);
    this.getSiteBlocks(siteId);
    const burl = process.env.VUE_APP_BACKEND + "/api/site";
    this.owner(burl, siteId);
  }
  getSiteBlocks(siteId: number) {
    this.axios.get(`/${siteId}/blocks`).then(response => {
      this.siteblocks = response.data.map((el: SBDTO) => {
        return new SiteBlockDTO(el);
      });
    });
  }
  index(siteId: number) {
    this.axios
      .get(`/${siteId}`)
      .then(response => {
        this.site = new SiteDTO(response.data);
      })
      .catch(err => {
        if (err.response.status == 401) {
          AuthMiddleware.logout();
          this.$router.push({ name: "Login" });
        }
      });
  }
  viewBlock(siteblock: SiteBlockDTO) {
    this.$router.push({
      name: "Block",
      params: { blockId: `${siteblock.id}` }
    });
  }
}
</script>
